* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.menu {
  display: flex;
  height: 50px;
  margin: 0;
  justify-content: space-between;
  padding: 13px 70px;
  list-style-type: none;
}
.menu_item {
  border-right: 2px dotted #000;
  padding-right: 28px;
}
.menu_item:last-child {
  border: none;
}
.menu_link {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
.menu_link:hover {
  color: #f0f0f0;
}

.subheader {
  display: block;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
}
.subheader_call {
  margin-top: 23px;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  line-height: 11px;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  text-align: right;
  color: #fff;
  line-height: 16px;
  text-decoration: none;
}
.subheader_btn {
  width: 172px;
  height: 46px;
  margin-top: 19px;
  border: none;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.hamburger {
  display: none;
}

.promo {
  background: url(../img/bg/hello_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px;
}
.promo_header {
  margin: 0;
  margin-top: 67px;
  line-height: 60px;
  font-size: 600px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.promo_subheader {
  margin: 0;
  margin-top: 22px;
  line-height: 36px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.promo_descr {
  margin-top: 23px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.promo_btn {
  margin: 0 auto;
  margin-top: 118px;
  display: block;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  position: relative;
  width: 112px;
  height: 24px;
  margin: 0 auto;
  background-color: #000;
  font-size: 11px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

.title {
  position: relative;
  margin: 0;
  font-size: 38px;
  line-height: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  z-index: 2;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #222;
  z-index: 2;
}

.adv {
  min-height: 900px;
  padding: 71px 0 60px;
}
.adv .title {
  margin-top: 38px;
}
.adv .row {
  margin-top: 5px;
}
.adv_item {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
}
.adv_item .circle_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin-top: 10px;
}
.adv_item_descr {
  max-width: 341px;
  margin-left: 25px;
  line-height: 21px;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #202020;
}
.adv_item_descr_header {
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  color: #1eacc7;
}
.adv_item_descr_text {
  margin: 0;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px;
  background: url(../img/bg/mobile_bg.jpg) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile .title {
  margin-top: 38px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding: 92px 0 0;
}
.mobile_item_1 {
  background: url(../img/mobile/1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/mobile/2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/mobile/3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/mobile/4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/mobile/5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/mobile/6.png) center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 6px;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.15s all;
}
.mobile_item_plus::after {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.15s all;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #4ce2ff;
}

.uberx {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px;
  background: url(../img/bg/mobile_bg.jpg) center center/cover no-repeat;
}
.uberx .label {
  background-color: #fff;
  color: #070716;
}
.uberx .title {
  color: #fff;
  margin-top: 32px;
}
.uberx .subtitle {
  color: #fff;
  margin-top: 19px;
}
.uberx img {
  position: relative;
  display: block;
  margin: 56px auto 0;
  z-index: 2;
}
.uberx .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}
.uberx_slogan {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #222;
  z-index: 2;
}

.require {
  padding: 68px 0 84px;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: #222;
}
.require .title {
  margin-top: 33px;
}
.require_block {
  margin: 33px 0;
  width: 478px;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  font-size: 22px;
  font-weight: normal;
  color: #1ca8c3;
}
.require_descr {
  color: #1ca8c3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}
.require_list li {
  margin-bottom: 10px;
  position: relative;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../icons/capabilities/blue_flag.png) center center/cover no-repeat;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li::before {
  background: url(../icons/capabilities/red_flag.png) center center/cover no-repeat;
}

.cities {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background-color: #080816;
  background: #080816 url(../img/bg/cities_bg.jpg) center center/auto 100% no-repeat;
}
.cities .label {
  width: 76px;
  background-color: #fff;
  color: #070716;
}
.cities .title {
  margin-top: 32px;
  color: #fff;
}
.cities .subtitle {
  margin-top: 20px;
  color: #fff;
}
.cities_link {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  margin-top: 468px;
  font-size: 15px;
  line-height: 15px;
  color: #1fbad6;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  height: 148px;
  padding: 14px 62px 31px;
  text-transform: uppercase;
}
footer a {
  text-decoration: none;
}
footer .footer_line {
  margin: 0 auto;
  width: 25%;
  height: 4px;
  background-color: #1fbad6;
}
footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}
footer .footer_wrapper > div {
  width: 33%;
}
footer .footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
footer .footer_media {
  display: flex;
  width: 153px;
  justify-content: space-between;
}
footer .footer_media_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 100%;
}
footer .footer_links {
  margin: 0 auto;
}
footer .footer_links .main {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
footer .footer_links .main a {
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: #070716;
  text-decoration: none;
}
footer .footer_links .sub {
  display: flex;
  margin: 12px auto 0;
  justify-content: space-between;
}
footer .footer_links .sub a {
  font-size: 11px;
  font-weight: 300;
  line-height: 8px;
  text-align: left;
  color: #999;
  text-decoration: none;
}
footer .footer_links .lang {
  margin: 19px auto 0;
  display: flex;
  justify-content: space-around;
}
footer .footer_links .lang a {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #1fbad6;
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1199px) {
  .menu_item {
    padding-right: 17px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
    line-height: 50px;
  }
  .adv_item_descr {
    max-width: 300px;
  }
  .mobile_item {
    width: 280px;
    height: 245px;
  }
  .mobile_item_subtitle {
    font-size: 21px;
  }
  .require {
    font-size: 15px;
    line-height: 23px;
  }
  .require_block {
    width: 100%;
  }
  .cities {
    min-height: 700px;
  }
  footer {
    padding: 14px 30px 31px;
  }
  footer .footer_links .main a {
    font-size: 12px;
    line-height: 15px;
  }
  footer .footer_links .sub a {
    font-size: 9px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 10px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_phone {
    font-size: 21px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .title {
    font-size: 35px;
  }
  .adv_item {
    flex-direction: column;
    align-items: center;
  }
  .uberx img {
    max-width: 93%;
  }
  .cities {
    min-height: 625px;
  }
  footer {
    padding: 10px 20px 25px;
    height: 120px;
  }
  footer .footer_wrapper {
    padding-top: 20px;
  }
  footer .footer_links .main a {
    font-size: 10px;
    line-height: 11px;
  }
  footer .footer_links .sub {
    margin: 8px auto 0;
  }
  footer .footer_links .sub a {
    font-size: 7px;
  }
  footer .footer_downloads a img {
    width: 177px;
  }
}
@media (max-width: 767px) {
  nav {
    height: 50px;
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    border: none;
    padding-right: 0;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.6s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px auto 0;
  }
  .promo_header {
    line-height: 45px;
  }
  footer .footer_links .main {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_links .sub {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  nav .menu {
    width: 85%;
  }
  nav .menu_item {
    width: 100%;
    text-align: center;
    padding: 7px 0;
  }
  nav .menu_link {
    display: block;
    width: 100%;
  }
  nav .hamburger {
    width: 20px;
  }
  nav .hamburger span {
    height: 1px;
    margin-bottom: 3px;
  }
  nav .hamburger_active span {
    margin-bottom: -1px;
  }
  .subheader {
    margin-top: 30px;
    height: 60px;
  }
  .subheader_phone {
    font-size: 12px;
    line-height: 9px;
  }
  .subheader_btn {
    margin-top: 9px;
    margin-bottom: 9px;
    width: 110px;
    height: 23px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .promo {
    padding: 143px 0 35px;
  }
  .promo_header {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.2;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 1.2;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 70px;
    font-size: 16px;
  }
  .adv {
    padding: 22px 0 50px;
  }
  .adv .title {
    margin-top: 15px;
  }
  .adv .row {
    margin-top: 0;
  }
  .adv_item {
    margin-top: 26px;
  }
  .adv_item .circle_icon {
    margin-bottom: 25px;
  }
  .title {
    font-size: 16px;
    line-height: 12px;
  }
  .subtitle {
    margin-top: 11px;
    font-size: 14px;
    line-height: 21px;
  }
  .mobile {
    padding: 22px 0 24px;
  }
  .mobile .title {
    margin-top: 15px;
  }
  .mobile .row {
    margin-top: 27px;
  }
  .uberx {
    padding: 25px 0 33px;
    min-height: 390px;
    background: none;
    background-color: #070716;
  }
  .uberx .black {
    display: none;
  }
  .uberx .title {
    display: none;
  }
  .uberx .subtitle {
    display: none;
  }
  .uberx img {
    margin-top: 35px;
  }
  .uberx_slogan {
    position: relative;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
  }
  .require {
    padding: 25px 0 26px;
    font-style: 14px;
    line-height: 1.2;
  }
  .require .title {
    margin-top: 15px;
  }
  .require_block {
    margin-top: 22px;
  }
  .require_title {
    font-size: 16px;
    line-height: 16px;
  }
  .cities {
    padding: 30px 0 25px;
    min-height: 360px;
  }
  .cities .title {
    margin-top: 15px;
  }
  .cities .subtitle {
    margin-top: 10px;
    line-height: 14px;
  }
  .cities_link {
    font-size: 15px;
    line-height: 14px;
    margin-top: 216px;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */